### Creating a pipeline to tune  tf-idf + ridge regularization parameters and select the best model.

I am going to dabble a bit into text mining in this post. The idea is very simple: we have a collection of documents (these could be emails, books or craiglist ads) and we are trying to build a model that predicts something when given a new document of the same provenance. To make this more concrete we will look at two examples: 
- predicting the salary offer for a job based on the description of the job listing 
- predicing whether a text message is spam. 

Along the way I will also explore how to build pipelines in python using sklearn and how to use tf-idf to transform the documents into numeric matrices. I am pretty new to all of this myself (mostly writing this up so I don't forget) so any suggestions and corrections are welcome!

Let's load the required python modules:

In [ ]:
import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import LabelEncoder 


from matplotlib import pyplot as plt
% matplotlib inline

Let's start with the salary listing first. We are going to try to build a model that predicts the salary offer for a job based on the description of the job listing.

In [2]:
train = pd.read_csv("https://raw.githubusercontent.com/ajschumacher/gadsdata/master/salary/train.csv")

In [41]:
y = train.SalaryNormalized

In [4]:
train.head(3)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk

Let's take a closer look at what a posting looks like:

In [212]:
train.FullDescription[1]

'Stress Engineer Glasgow Salary **** to **** We re currently looking for talented engineers to join our growing Glasgow team at a variety of levels. The roles are ideally suited to high calibre engineering graduates with any level of appropriate experience, so that we can give you the opportunity to use your technical skills to provide high quality input to our aerospace projects, spanning both aerostructures and aeroengines. In return, you can expect good career opportunities and the chance for advancement and personal and professional development, support while you gain Chartership and some opportunities to possibly travel or work in other offices, in or outside of the UK. The Requirements You will need to have a good engineering degree that includes structural analysis (such as aeronautical, mechanical, automotive, civil) with some experience in a professional engineering environment relevant to (but not limited to) the aerospace sector. You will need to demonstrate experience in at least one or more of the following areas: Structural/stress analysis Composite stress analysis (any industry) Linear and nonlinear finite element analysis Fatigue and damage tolerance Structural dynamics Thermal analysis Aerostructures experience You will also be expected to demonstrate the following qualities: A strong desire to progress quickly to a position of leadership Professional approach Strong communication skills, written and verbal Commercial awareness Team working, being comfortable working in international teams and self managing PLEASE NOTE SECURITY CLEARANCE IS REQUIRED FOR THIS ROLE Stress Engineer Glasgow Salary **** to ****'

We will just use the description and build a pipeline to predict the Normalized Salary. This is quite easy in sklearn using a pipeline. Basically we will create a bag of words then scale the columns using tf_idf. The tf-idf value increases proportionally to the number of times a word appears in the document, but is offset by the frequency of the word in the corpus, which helps to adjust for the fact that some words appear more frequently in general. Then we will fit a regularized linear model to the data. Regularization is key here since when using bi-grams we'll end up with over 400k features and only 10k training examples.

In [43]:
estimators = [("tf_idf", TfidfVectorizer()), 
              ("ridge", linear_model.Ridge())]
model = Pipeline(estimators)

#### So we just plug in the raw descriptions and the tf_idf transforms it into a matrix that is then fitted by the ridge model.

 ### $$Description\longrightarrow X , y \longrightarrow model$$

In [44]:
model.fit(train.FullDescription, y)

Pipeline(steps=[('tf_idf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
...it_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))])

Now both the tf_idf transform and the ridge regression have tuning parameters and the nice thing about the pipeline we just built is that we can tune all the parameters at once:

In [239]:
params = {"ridge__alpha":[0.1, 0.3, 1, 3, 10], #regularization param
          "tf_idf__min_df": [1, 3, 10], #min count of words allowed
          "tf_idf__ngram_range": [(1,1), (1,2)], #1-grams or 2-grams
          "tf_idf__stop_words": [None, "english"]} #use stopwords or don't

How many different model must we run? Well since we're doing a grid search we can just multiply the possibilities for each parameter to get `5*3*2*2` for a total of 60 models - a decent number. And keep in mind that for each model we have to build the tf_idf vectorizer all over again.

In [240]:
grid = GridSearchCV(estimator=model, param_grid = params, scoring = "mean_squared_error")

grid.fit(train.FullDescription, y)

In [157]:
grid.best_params_

{'ridge__alpha': 0.3,
 'tf_idf__min_df': 1,
 'tf_idf__ngram_range': (1, 2),
 'tf_idf__stop_words': 'english'}

In [161]:
np.sqrt(-grid.best_score_)

10532.473521325306

We can also look at all the params:

In [143]:
params = pd.DataFrame([i[0] for i in grid.grid_scores_])
results = pd.DataFrame(grid.grid_scores_)
results = pd.concat([params, results], 1)
results["rmse"] = np.sqrt(-results.mean_validation_score)

In [209]:
results.head(3)

,ridge__alpha,tf_idf__min_df,tf_idf__ngram_range,tf_idf__stop_words,parameters,mean_validation_score,cv_validation_scores,rmse
0,0.1,1,"(1, 1)",None,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",-1.383986e+08,"[-103831685.851, -141229157.862, -170145315.841]",11764.293270
1,0.1,1,"(1, 1)",english,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",-1.408870e+08,"[-105929048.004, -144749023.148, -171993435.294]",11869.583228
2,0.1,1,"(1, 2)",None,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",-1.113026e+08,"[-77620035.3972, -108499379.09, -147798481.11]",10550.004578

### Examining the Best Model:

In [153]:
model = grid.best_estimator_

Every time we predict the model will run the tf-idf part first, already fitted on the train set and then use the ridge regression model.

In [167]:
model.predict(train.FullDescription)

array([ 25975.84531928,  32824.5058169 ,  32127.26976225, ...,
        50386.2916183 ,  50138.40072399,  27588.69246637])

One issue with using the pipeline is that we don't see the little details that go into fitting the models.

What if we want to examing more closely what goes on in each model? Say for example I want to look at the coefficients of my linear regression. That's also pretty straighforward using the `named_steps` method.

In [207]:
grid.best_estimator_.named_steps["ridge"].coef_

array([ -465.8824938 ,  1697.39286267,  1304.56896049, ...,  1416.89223231,
        -596.29992468,  -596.29992468])

In [183]:
ridge_model = model.named_steps["ridge"]
tf_idf_model = model.named_steps["tf_idf"]

In [188]:
coefficients = pd.DataFrame({"names":tf_idf_model.get_feature_names(),
                             "coef":ridge_model.coef_})

Let's look at the tokens with the largest coefficients:

In [211]:
coefficients.sort_values("coef", ascending=False).head(10)

                coef             names
88432   51890.453609  consultant grade
235331  48488.999766             locum
399929  45052.453063            subsea
174963  43441.208259            global
235338  40651.232641  locum consultant
90843   40016.083870          contract
235682  38554.092136            london
211090  36076.259999        investment
121657  34280.854922          director
244094  33309.500667           manager

We see some of the usual suspects - such as london, consultant, director and manager. However given how many features we have (over 400k) it's hard to interpret these coefficients very accurately. Perhaps doing a Lasso model with a strong $l_1$ regularization might help with that, since that wil reduce the number of non-zero coefficients.

# Spam example:
Now let's look at another classical text analysis problem - clasifying wether an email (or text message) is spam or not. Let's load up the data:

In [213]:
url = 'https://raw.githubusercontent.com/justmarkham/pycon-2016-tutorial/master/data/sms.tsv'
sms = pd.read_table(url, header=None, names=['label', 'message'])

In [217]:
sms.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

And let's look at one example:

In [216]:
sms.iloc[12, 1]

'URGENT! You have won a 1 week FREE membership in our Â£100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18'

Ok this one is clearly spam :)

In [221]:
corp = sms.message
le = LabelEncoder()
y = le.fit_transform(sms.label)

Notice that in this case we are prediting a class - ham vs. spam so linear regression won't cut it. 
So do we need to go thru the whole process of building the pipeline again? Well not really. The tf-idf part stays the same we just have to use logistic (instead of linear) regression. So we simply replace `linear_model.Ridge()` with `linear_model.RidgeClassifier()`.

In [236]:
estimators = [("tf_idf", TfidfVectorizer()), 
              ("ridge", linear_model.RidgeClassifier())]
model = Pipeline(estimators)

In [247]:
params = {"ridge__alpha":[0.1, 0.3, 1, 3, 10], #regularization param
          "tf_idf__min_df": [1, 3, 10], #min count of words allowed
          "tf_idf__ngram_range": [(1,1), (1,2)], #1-grams or 2-grams
          "tf_idf__stop_words": [None, "english"],#use stopwords or don't
          "tf_idf__use_idf":[True, False]}  #whether to scale columns or just leave normalized bag of words.

In [248]:
grid = GridSearchCV(estimator=model, param_grid = params)

In [250]:
grid.fit(corp, y)

GridSearchCV(cv=None, error_score='raise',
       estimator=Pipeline(steps=[('tf_idf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
...True,
        max_iter=None, normalize=False, random_state=None, solver='auto',
        tol=0.001))]),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'ridge__alpha': [0.1, 0.3, 1, 3, 10], 'tf_idf__stop_words': [None, 'english'], 'tf_idf__min_df': [1, 3, 10], 'tf_idf__ngram_range': [(1, 1), (1, 2)], 'tf_idf__use_idf': [True, False]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [251]:
grid.best_params_

{'ridge__alpha': 0.1,
 'tf_idf__min_df': 1,
 'tf_idf__ngram_range': (1, 2),
 'tf_idf__stop_words': None,
 'tf_idf__use_idf': True}

In [272]:
params = pd.DataFrame([i[0] for i in grid.grid_scores_])
results = pd.DataFrame(grid.grid_scores_)
results = pd.concat([params, results], 1)

In [256]:
results

,ridge__alpha,tf_idf__min_df,tf_idf__ngram_range,tf_idf__stop_words,tf_idf__use_idf,parameters,mean_validation_score,cv_validation_scores,rmse
0,0.1,1,"(1, 1)",None,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.981874,"[0.982238966631, 0.980613893376, 0.982767905223]",NaN
1,0.1,1,"(1, 1)",None,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.982233,"[0.983315392896, 0.981152396338, 0.982229402262]",NaN
2,0.1,1,"(1, 1)",english,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.980617,"[0.980624327234, 0.980075390415, 0.981152396338]",NaN
3,0.1,1,"(1, 1)",english,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.981694,"[0.980624327234, 0.981152396338, 0.983306408185]",NaN
4,0.1,1,"(1, 2)",None,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.987437,"[0.987621097955, 0.985460420032, 0.989229940765]",NaN
5,0.1,1,"(1, 2)",None,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.986540,"[0.985468245425, 0.985998922994, 0.988152934841]",NaN
6,0.1,1,"(1, 2)",english,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.983668,"[0.981162540366, 0.984921917071, 0.984921917071]",NaN
7,0.1,1,"(1, 2)",english,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.983668,"[0.983315392896, 0.983306408185, 0.984383414109]",NaN
8,0.1,3,"(1, 1)",None,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.982412,"[0.983853606028, 0.982229402262, 0.981152396338]",NaN
9,0.1,3,"(1, 1)",None,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.982950,"[0.983315392896, 0.983306408185, 0.982229402262]",NaN
10,0.1,3,"(1, 1)",english,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.977925,"[0.981700753498, 0.975767366721, 0.976305869682]",NaN
11,0.1,3,"(1, 1)",english,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.978643,"[0.981700753498, 0.976844372644, 0.977382875606]",NaN
12,0.1,3,"(1, 2)",None,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.985463,"[0.98439181916, 0.985998922994, 0.985998922994]",NaN
13,0.1,3,"(1, 2)",None,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.985463,"[0.984930032293, 0.984921917071, 0.986537425956]",NaN
14,0.1,3,"(1, 2)",english,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.980079,"[0.981162540366, 0.978998384491, 0.980075390415]",NaN
15,0.1,3,"(1, 2)",english,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.980797,"[0.982777179763, 0.980613893376, 0.978998384491]",NaN
16,0.1,10,"(1, 1)",None,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.980976,"[0.982777179763, 0.978459881529, 0.9816908993]",NaN
17,0.1,10,"(1, 1)",None,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.980438,"[0.981700753498, 0.978998384491, 0.980613893376]",NaN
18,0.1,10,"(1, 1)",english,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.976849,"[0.977395048439, 0.976305869682, 0.976844372644]",NaN
19,0.1,10,"(1, 1)",english,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.977028,"[0.977933261572, 0.975228863759, 0.977921378568]",NaN
20,0.1,10,"(1, 2)",None,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.982053,"[0.983315392896, 0.982229402262, 0.980613893376]",NaN
21,0.1,10,"(1, 2)",None,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': No...",0.981515,"[0.983853606028, 0.9816908993, 0.978998384491]",NaN
22,0.1,10,"(1, 2)",english,True,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.978284,"[0.980624327234, 0.977382875606, 0.976844372644]",NaN
23,0.1,10,"(1, 2)",english,False,"{'ridge__alpha': 0.1, 'tf_idf__stop_words': 'e...",0.978464,"[0.979009687836, 0.977382875606, 0.978998384491]",NaN
24,0.3,1,"(1, 1)",None,True,"{'ridge__alpha': 0.3, 'tf_idf__stop_words': No...",0.983309,"[0.98439181916, 0.9816908993, 0.983844911147]",NaN
25,0.3,1,"(1, 1)",None,False,"{'ridge__alpha': 0.3, 'tf_idf__stop_words': No...",0.982950,"[0.98439181916, 0.981152396338, 0.983306408185]",NaN
26,0.3,1,"(1, 1)",english,True,"{'ridge__alpha': 0.3, 'tf_idf__stop_words': 'e...",0.982592,"[0.983315392896, 0.981152396338, 0.983306408185]",NaN
27,0.3,1,"(1, 1)",english,False,"{'ridge__alpha': 0.3, 'tf_idf__stop_words': 'e...",0.982053,"[0.983853606028, 0.980613893376, 0.9816908993]",NaN
28,0.3,1,"(1, 2)",None,True,"{'ridge__alpha': 0.3, 'tf_idf__stop_words': No...",0.987258,"[0.987621097955, 0.984921917071, 0.989229940765]",NaN
29,0.3,1,"(1, 2)",None,False,"{'ridge__alpha': 0.3, 'tf_idf__stop_words': No...",0.986181,"[0.984930032293, 0.985460420032, 0.988152934841]",NaN
...,...,...,...,...,...,...,...,...,...
90,3.0,10,"(1, 1)",english,True,"{'ridge__alpha': 3, 'tf_idf__stop_words': 'eng...",0.975951,"[0.976318622174, 0.973074851912, 0.978459881529]",NaN
91,3.0,10,"(1, 1)",english,False,"{'ridge__alpha': 3, 'tf_idf__stop_words': 'eng...",0.975592,"[0.975780409042, 0.97253634895, 0.978459881529]",NaN
92,3.0,10,"(1, 2)",None,True,"{'ridge__alpha': 3, 'tf_idf__stop_words': None...",0.980438,"[0.981700753498, 0.980075390415, 0.979536887453]",NaN
93,3.0,10,"(1, 2)",None,False,"{'ridge__alpha': 3, 'tf_idf__stop_words': None...",0.978643,"[0.978471474704, 0.978998384491, 0.978459881529]",NaN
94,3.0,10,"(1, 2)",english,True,"{'ridge__alpha': 3, 'tf_idf__stop_words': 'eng...",0.977028,"[0.976318622174, 0.974690360797, 0.980075390415]",NaN
95,3.0,10,"(1, 2)",english,False,"{'ridge__alpha': 3, 'tf_idf__stop_words': 'eng...",0.975592,"[0.97524219591, 0.971997845988, 0.979536887453]",NaN
96,10.0,1,"(1, 1)",None,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.952620,"[0.949407965554, 0.950996230479, 0.95745826602]",NaN
97,10.0,1,"(1, 1)",None,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.961953,"[0.95748116254, 0.961227786753, 0.967151319332]",NaN
98,10.0,1,"(1, 1)",english,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.939340,"[0.939720129171, 0.942380183091, 0.93591814755]",NaN
99,10.0,1,"(1, 1)",english,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.949749,"[0.952637244349, 0.949919224556, 0.946688206785]",NaN
100,10.0,1,"(1, 2)",None,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.923726,"[0.921959095802, 0.926225094238, 0.922994076467]",NaN
101,10.0,1,"(1, 2)",None,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.958184,"[0.954790096878, 0.95745826602, 0.962304792676]",NaN
102,10.0,1,"(1, 2)",english,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.911163,"[0.913347685684, 0.910070005385, 0.910070005385]",NaN
103,10.0,1,"(1, 2)",english,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.940596,"[0.941334768568, 0.943995691976, 0.936456650512]",NaN
104,10.0,3,"(1, 1)",None,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.962312,"[0.958557588805, 0.9633817986, 0.964997307485]",NaN
105,10.0,3,"(1, 1)",None,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.963927,"[0.962325080732, 0.962304792676, 0.967151319332]",NaN
106,10.0,3,"(1, 1)",english,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.950287,"[0.953175457481, 0.949919224556, 0.947765212709]",NaN
107,10.0,3,"(1, 1)",english,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.955133,"[0.958557588805, 0.954765751212, 0.952073236403]",NaN
108,10.0,3,"(1, 2)",None,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.956748,"[0.952099031216, 0.958535271944, 0.959612277868]",NaN
109,10.0,3,"(1, 2)",None,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.964106,"[0.95963401507, 0.964997307485, 0.967689822294]",NaN
110,10.0,3,"(1, 2)",english,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.947236,"[0.949946178687, 0.948842218632, 0.942918686053]",NaN
111,10.0,3,"(1, 2)",english,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.953159,"[0.954251883746, 0.953688745288, 0.951534733441]",NaN
112,10.0,10,"(1, 1)",None,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.968593,"[0.967168998924, 0.96661281637, 0.971997845988]",NaN
113,10.0,10,"(1, 1)",None,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.965901,"[0.965016146394, 0.964458804523, 0.968228325256]",NaN
114,10.0,10,"(1, 1)",english,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.962491,"[0.967707212056, 0.961766289715, 0.957996768982]",NaN
115,10.0,10,"(1, 1)",english,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.960337,"[0.963401506997, 0.959073774906, 0.958535271944]",NaN
116,10.0,10,"(1, 2)",None,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.969490,"[0.967168998924, 0.970920840065, 0.970382337103]",NaN
117,10.0,10,"(1, 2)",None,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': Non...",0.966260,"[0.965554359526, 0.967151319332, 0.966074313409]",NaN
118,10.0,10,"(1, 2)",english,True,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.962670,"[0.966630785791, 0.962304792676, 0.959073774906]",NaN
119,10.0,10,"(1, 2)",english,False,"{'ridge__alpha': 10, 'tf_idf__stop_words': 'en...",0.961235,"[0.964477933262, 0.960689283791, 0.958535271944]",NaN

Let's look at the regularization parameter alpha. Remember alpha is the inverse of C - so the smaller alpha the stronger the regularization will be.

In [281]:
results.groupby(["ridge__alpha"])["mean_validation_score"].aggregate([np.mean])

                  mean
ridge__alpha
0.1           0.981545
0.3           0.982434
1.0           0.981485
3.0           0.977267
10.0          0.954467

So we see that the best results are when alpha is small, around  0.1 - 0.3. If we make alpha too large we get a significant decrease in accuracy.

Note that in this case I tuned where the model should use idf or only tf. The best model does use idf but let's see if we look across all the tuning settings:

In [273]:
results.groupby(["tf_idf__use_idf"])["mean_validation_score"].aggregate([np.mean, np.std])

                     mean       std
tf_idf__use_idf
False            0.976038  0.009895
True             0.974841  0.014802

Hmm interetsingly not using idf performs slightly better over the entire grid space we tried out. This might be because the sms messages aren't very long. Here's a quote from the sklearn documentation on tf-idf: While the tfâidf normalization is often very useful, there might be cases where the binary occurrence markers might offer better features. Very short texts are likely to have noisy tfâidf values while the binary occurrence info is more stable.